
@font-face {
    font-family: autograph ;
    src: url("../assets/font/Autography.otf");
}
@font-face {
    font-family: monument-primary ;
    src: url("../assets/font/MonumentExtended-Regular.otf");
}
@font-face {
    font-family: monument-secondary;
    src: url("../assets/font/MonumentExtended-Ultrabold.otf");
}
@font-face {
    font-family: monopri ;
    src: url("../assets/font/monogb_.ttf");
}
@font-face {
    font-family: monosec ;
    src: url("../assets/font/monogeb.ttf");
}
@font-face {
    font-family: monument-secondary;
    src: url("../assets/font/MonumentExtended-Ultrabold.otf");
}
@font-face {
    font-family: opensan1 ;
    src: url("../assets/font/opensans1.ttf");
}
@font-face {
    font-family: opensan2 ;
    src: url("../assets/font/opensans2.ttf");
}
@font-face {
    font-family: opensans3 ;
    src: url("../assets/font/opensans3.ttf");
}
@font-face {
    font-family: raleway1 ;
    src: url("../assets/font/raleway1.ttf");
}
@font-face {
    font-family: raleway2 ;
    src: url("../assets/font/raleway2.ttf");
}
@font-face {
    font-family: raleway3 ;
    src: url("../assets/font/raleway3.ttf");
}

$primary-color : #2c3e50;
$secondary-color : #3498db;
$grey-color:  #95a5ab;



 
$font-primary: #ffffff;
$font-secondary: #79b8fb;