@import "../../public/css/Common.scss";


.contactcard{
    width:500px;
    height: 300px;
    border-radius: 25px;
    border: 1px solid white;
    background-color: green;
    padding: 20px;
    color: white;
    display: flex;
    font-family: raleway2;
    align-items: center;
    font-size: .9em;
    flex-wrap: wrap;
    justify-content: center;


    background:  rgba(255, 255, 255, 0.05);
        

    // boxShadow: scrollYes && "0 4px 30px rgba(0, 0, 0, 0.1)",
    backdrop-filter: blur(7.8px);
    -webkit-backdrop-filter: blur(7.8px);
}

.contactcardright{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 20px ;
}
.contactcardright a{
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 10px;
}
.contactcardright a span{
    margin-left: 10px;
}
.contactcardleft{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width:450px) {
    .contactcard{
    
        width: 280px;
    }
    
}